$opptatt: #e67e22;
$ledig: #2ecc71;
$bg: #ecf0f1;
$popupgb:#1abc9c;
$skillelinje:#2c3e50;
$jumbobg:#2c3e50;
$hover:#27ae60;

.rom_ledig{
	background-color: $ledig;
	border-radius: 10px 10px 0px 0px;
	border-bottom: 3px solid $skillelinje;
	min-height: 50px;
}
.rom_opptatt{
	background-color: $opptatt;
	border-radius: 10px 10px 0px 0px;
	border-bottom: 3px solid $skillelinje;
}
.bestill{
	height: 80px;
	margin: 5px 0px;
	border-radius: 0px 0px 10px 10px;
	background-color: $popupgb;
	border-top: 3px solid $skillelinje;
	display: none;
}
body{
	background-color: $bg;
}
.jumbotron{
	background-color: $jumbobg;
	margin-bottom: 0px;
	h1{
		color:$bg;
	}
	p{
		color:$bg;
	}
}
.thumbnail{
  background-color: $ledig;
  height: 200px;
  margin-top: 50px;
  ul{
    list-style: none;
    margin-top: 10px;
  }
}
.thumbnail:hover{
  background-color: $hover;
}

/*LEGG TIL DENN CLASSEN NÅR ROMMET ER OPPTATT*/
.thumbnail_opptatt{
  background-color: $opptatt;
  height: 100px;
}


.kart{
  border: 2px solid $skillelinje;
  border-radius: 10px;
  margin-bottom: 30px;
}

.ledigfarge{
  color: $ledig;
}

.opptattfarge{
  color: $opptatt;
}


.cal_calendar th
{
        border:1px solid black;
        background-color:#ffffff;
                width:36px;
}
.cal_calendar td
{
        border:1px solid black;
        background-color:#ffffff;
        text-align:center;
                width:36px;
                height:36px;
}
.cal_today
{
        color:#ff0000;
                font-weight:bold;
}
.cal_days_bef_aft
{
        color:#5a779e;
}
